
<link rel="stylesheet" href="/app/assets/stylesheets/components/_item_card.css">

# Placeholder HTML for item-card.
<div class="container">
  <div class="image"></div>
  <h3 class="item-card-title">Milan, Italy</h3>
  <p class="item-card-description">Stay with Valentina • Interior designer
    31 May - 6 Jun • Individual Host</p>
  <p class="item-card-price">£525 total</p>
</div>
