  <ul class="category-list">
    <li><a href="">ALL</a></li>
    <li><a href="">Useless</a></li>
    <li><a href="">Really Useless</a></li>
    <li><a href="">Too Tall</a></li>
    <li><a href="">Too Small</a></li>
    <li><a href="">Crunchy</a></li>
    <li><a href="">Pink</a></li>
  </ul>
