<div class="header-navbar-container">
  <h1 class="header">Bizarre Bazaar</h1>
  <div class="navbar">
    <ul class="navbar-items">
      <li class="navbar-item-button"><%= render 'pages/button' %></li>
      <li class="navbar-item-about-us">ABOUT US</li>
      <li class="navbar-item-login">LOGIN</li>
    </ul>
  </div>
</div>
