<div class="header-navbar-container">
  <h1 class="header">Bizarre Bazaar</h1>
  <div class="navbar">
    <ul class="navbar-items">
      <li class="navbar-item-button"><%= render partial: 'button' %></li>
      <div class="right-items">
        <li class="navbar-item-about-us">ABOUT US</li>
        <li class="navbar-item-login">LOGIN</li>
      </div>
    </ul>
  </div>
</div>
