<a href="<%= item_path(item[:id]) %>" >
  <div class="container">
    <div class="item-card-container">

      <div class="image"
        <% if item.photo && item.photo.key %>
          style="background-image: url('<%= cl_image_path item.photo.key, height: 300, crop: :fill %>')"
        <% end %>>
      </div>

      <div class="item-card-details-container">
        <h3 class="item-card-title"><%= item[:name] %></h3>
        <p class="item-card-price">£<%= item[:price] %></p>
      </div>
      </div>
    </div>
</a>
