<h1>Welcome to the Bizarre Bazaar!</h1>
<h2>The home of dysfunctional items</h2>
<h3>Look at all these crazy items:</h3>

<div class="item-grid">
  <% @items.each do |item| %>
    <%= render partial: 'item_card', locals: { item: item }  %>
  <% end %>
</div>
<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, data: { turbo: true, turbo_method: :delete } %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>
