<h1>Welcome to the Bizarre Bazaar!</h1>
<h2>The home of dysfunctional items</h2>
<h3>Look at all these crazy items:</h3>

<%= render partial: 'navbar' %>

<%= render partial: 'category_bar' %>

<div class="item-grid">
  <% @items.each do |item| %>
    <%= render partial: 'item_card', locals: { item: item }  %>
  <% end %>
</div>
