a {
  text-decoration: none;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 0.8rem;
  width: 15rem;
}

.image {
  height: 14rem;
  background-image: asset-url('inspiration/AirBnB_item_card.png');
  background-size: cover;
  border-radius: 1rem;
}

.item-card-title {
  margin: 0.3rem;
  font-size: 0.8rem;
}

.item-card-description {
  color: rgb(111, 108, 108);
}

.item-card-description, .item-card-price {
  font-size: 0.8rem;
  margin: 0.3rem;
}

.item-card-price {
  text-decoration: underline;
}
