a {
  text-decoration: none;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  width: auto;
}

.item-card-container {
  border: 1px solid black;
}

.image {
  height: 10rem;
  // background-image: asset-url('inspiration/AirBnB_item_card.png');
  background-size: cover;
  border: solid black;
  border-width: 0px 0px 1px 0px;
}

.item-card-details-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
}

.item-card-title {
  margin: 0.3rem;
  font-size: 0.8rem;
}

.item-card-description {
  color: rgb(111, 108, 108);
}

.item-card-description, .item-card-price {
  font-size: 0.8rem;
  margin: 0.3rem;
}

.item-card-price {

}
