.show-page-image  {
    top: 631.1155395507812px;
    left: 630px;
    width: 761px;
    height: 580.8844604492188px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }

.item_price {
  position: absolute;
  left: 72.93%;
  right: 0%;
  top: 83.13%;
  bottom: 0%;
}
